<div class="container">
    

     <div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcone to my Idea </h1>
    <p class="lead">You have a idea <b>Share it</b> <a href="ideas/add" class="btn btn-outline-success btn-lg">add people</a></p>
  </div>
</div>
</div>
 </div>