<div class="row">
<div class="card card-body">
<h3 class="text-center">Register</h3>
<form action="/users/register" method='POST'>
    <div class="from-group" >
        <label for='Name'>Name</label>
        <input name="name" type="text" class="form-control" value="{{name}}" required>
    </div>
      <div class="from-group">
        <label for='email'>Email</label>
        <input name="email" type="email" class="form-control" value="{{email}}"  required>
    </div>
          <div class="from-group">
        <label for='password1'>Password</label>
        <input name="password" type="password" class="form-control" value="{{password}}" required>
    </div>
             <div class="from-group">
        <label for='password2'>Confirm Password</label>
        <input name="password2" type="password" class="form-control" value="{{password2}}"  required>
    </div>
    <button class="btn btn-success " type="submit">Submit</button>
</form>
</div>

</div>